{% extends "base.html" %}


{% block main %}
    <div class="container">
        <div class="my-3 p-3 rounded bg-purple box-shadow">

            <div class="d-flex flex-column">
                <div class="p-1">
                    <span class="text-white">课程名:</span> <span class="ml-2 text-white">{{ course.name }}</span>
                </div>
                <div class="p-1">
                    <span class="text-white">作者:</span> <span class="ml-2 text-white">{{ course.user }}</span>
                </div>
                <div class="nav-scrolle p-1">
                    <nav class="nav nav-underline" >
                        <a class="nav-link pl-0" href="#"><i class="fa fa-star text-warning" aria-hidden="true"> 已收藏</i> </a>
                        <p class="nav-link text-warning" href="#">256 浏览数</p>
                        <p class="nav-link text-warning" href="#">{{ course.created|date:'Y-m-d' }}</p>
                    </nav>
                </div>
            </div>
        </div>


        <div class="my-3 p-0 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-2">课程视频</h6>
            <div class="row">
                {% for video in videos %}
                <div class="col-md-4">
                    <!-- 桌面排版 -->
                    <div class="card mb-4 border-success box-shadow">
                      <div class="card-body">
                          <h5 class="card-title"><a class="" href="{{ video.get_absolute_url }}">{{ video.title }}</a></h5>
                          <div class="d-flex justify-content-between align-items-center">
{#                              <small class="text-muted">{{ video.created|date:'Y-m-d' }}</small>#}
                              <small class="text-muted">{{ video.created }}</small>
                          </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
                {% for video in fake_videos %}
                <div class="col-md-4">
                    <!-- 桌面排版 -->
                    <div class="card mb-4 border-success box-shadow">
                      <div class="card-body">
                          <h5 class="card-title"><a class="" href="{{ video.get_absolute_url }}">{{ video }}</a></h5>
                          <div class="d-flex justify-content-between align-items-center">
{#                              <small class="text-muted">{{ video.created|date:'Y-m-d' }}</small>#}
                              <small class="text-muted">2018-10-30</small>
                          </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
            </div>

            <div class="media text-muted pt-3">
              <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@username</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              </p>
            </div>
            <div class="media text-muted pt-3">
              <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@username</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              </p>
            </div>

            <div class="media text-muted pt-3">
              <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
              <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">@username</strong>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              </p>
            </div>

        </div>
    </div>

{% endblock %}