{% extends "base.html" %}

{% load user_tags %}

{% block main %}
    <div class="container">
       <div class="my-3 p-3 bg-purple rounded box-shadow">
            <div class="media text-muted pt-3">
                <a href="{{ user.avatar.url }}">
                    <img src="{{ user.avatar.url }}" alt="" class="mr-2 rounded" style="width: 32px; height: 32px">
                </a>
              <div class="media-body pb-3 mb-0 small lh-125">
                <div class="d-flex justify-content-between align-items-center w-100">
                  <strong class="text-white">{{ user }}</strong>
                  {% check_is_following request user as is_following %}
                  {% ifequal user request.user %}
                      <a href="#" class="text-warning">
                        <i class="fa fa-address-card-o" aria-hidden="true"></i></i> 编辑资料
                      </a>
                  {% else %}
                      <a class="{% if is_following %}text-white{% else %}text-warning{% endif %}" id="follow-user-{{ user.id }}" href="javascript:void(0)"
                        data-login="{% if not request.user.is_authenticated %}un{% endif %}login"
                        data-action="{% if is_following %}un{% endif %}follow"
                        onclick="FollowUser({{ user.id }})">
                        {% if is_following %}
                            <i class="fa fa-check"></i> 已关注
                        {% else %}
                            <i class="fa fa-plus"></i> 关注
                        {% endif %}
                      </a>
                  {% endifequal %}
                </div>
                <span class="d-block text-white">{{ user.signature }}</span>
              </div>
            </div>
        </div>

        <div class="nav-scroller bg-white box-shadow">
            <nav class="nav nav-underline container" >
               <a class="nav-link {% ifequal 'courses' data %}active text-success{% endifequal %}" href="?data=courses">
                    <i class="fa fa-book" aria-hidden="true"></i> 课程</a>
               <a class="nav-link {% ifequal 'videos' data %}active text-success{% endifequal %}" href="?data=videos">
                   <i class="fa fa-file-video-o" aria-hidden="true"></i> 视频</a>
               <a class="nav-link {% ifequal 'comments' data %}active text-success{% endifequal %}" href="?data=comments">
                   <i class="fa fa-comments-o" aria-hidden="true"></i> 评论</a>
               <a class="nav-link {% ifequal 'followings' data %}active text-success{% endifequal %}" href="?data=followings">
                   <i class="fa fa-user-plus" aria-hidden="true"></i> 关注</a>
               <a class="nav-link {% ifequal 'followers' data %}active text-success{% endifequal %}" href="?data=followers">
                   <i class="fa fa-user-o" aria-hidden="true"></i> 粉丝</a>
            </nav>
        </div>

        <!-- user courses data-->
        {% ifequal 'courses' data %}
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-3">{{ user_flag }}的课程</h6>
                <div class="row mb-2">
                {% for object in objects %}
                    <div class="col-md-4">
                        <!-- 桌面排版 -->
                        <div class="card mb-4 border-secondary box-shadow">
                          <div class="card-body">
                              <h5 class="card-title"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h5>
                              <div class="d-flex justify-content-between align-items-center">
                                  <small class="text-muted"><a href="">{{ object.user }}</a></small>
                                  <small class="text-muted">课时: <span>15</span></small>
                                  <small class="text-muted">{{ object.created|date:'Y-m-d' }}</small>
                              </div>
                          </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endifequal %}

{#    {% if info %}#}
{#    {% elif %}#}
{#    {% endif %}#}

     <!-- user videos data-->
        {% ifequal 'videos' data %}
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-3">{{ user_flag }}的视频</h6>
                <div class="row mb-2">
                {% for object in objects %}
                    <div class="col-md-4">
                        <!-- 桌面排版 -->
                        <div class="card mb-4 border-secondary box-shadow">
                          <div class="card-body">
                              <h5 class="card-title"><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h5>
                              <div class="d-flex justify-content-between align-items-center">
                                  <small class="text-muted"><a href="">{{ object.user }}</a></small>
                                  <small class="text-muted">课时: <span>15</span></small>
                                  <small class="text-muted">{{ object.created|date:'Y-m-d' }}</small>
                              </div>
                          </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endifequal %}
{##}
{#        <!-- user comments data-->#}
{#        {% ifequal 'comments' data %}#}
{#             <div class="my-3 p-3 bg-white rounded box-shadow">#}
{#                 <h6 class="border-bottom border-gray pb-2 mb-0">{{ info }}的书评</h6>#}
{##}
{#                 {% include 'comment-list-base.html' %}#}
{##}
{#                <div class="media text-muted pt-3">#}
{#                  <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">#}
{#                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">#}
{#                    <strong class="d-block text-gray-dark">@username</strong>#}
{#                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.#}
{#                  </p>#}
{#                </div>#}
{#                <div class="media text-muted pt-3">#}
{#                  <img data-src="holder.js/32x32?theme=thumb&bg=e83e8c&fg=e83e8c&size=1" alt="" class="mr-2 rounded">#}
{#                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">#}
{#                    <strong class="d-block text-gray-dark">@username</strong>#}
{#                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.#}
{#                  </p>#}
{#                </div>#}
{##}
{#                <div class="media text-muted pt-3">#}
{#                  <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">#}
{#                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">#}
{#                    <strong class="d-block text-gray-dark">@username</strong>#}
{#                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.#}
{#                  </p>#}
{#                </div>#}
{##}
{#            </div>#}
{#        {% endifequal %}#}
{##}
{#        <!-- user followings data -->#}
{#        {% ifequal 'followings' data %}#}
{#            <div class="my-3 p-3 bg-white rounded box-shadow">#}
{#                <h6 class="border-bottom border-gray pb-2 mb-0">{{ info }}的关注</h6>#}
{#                {% for user in followings %}#}
{#                    {% check_is_following_user request user as is_following%}#}
{#                    <div class="media text-muted pt-3">#}
{#                      <a href="{{ user.get_absolute_url }}">#}
{#                          <img src="{{ user.avatar.url }}" alt="" class="mr-2 rounded" style="width: 32px; height: 32px;">#}
{#                      </a>#}
{##}
{#                      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">#}
{#                        <div class="d-flex justify-content-between align-items-center w-100">#}
{#                          <strong class="text-gray-dark">{{ user }}</strong>#}
{#                          {% ifnotequal user request.user %}#}
{#                               <a class="{% if is_following %}text-success{% endif %}" id="follow-user-{{ user.id }}" href="javascript:void(0)"#}
{#                                data-login="{% if not request.user.is_authenticated %}un{% endif %}login"#}
{#                                data-action="{% if is_following %}un{% endif %}follow"#}
{#                                onclick="FollowUser({{ user.id }})">#}
{#                                {% if is_following %}#}
{#                                    <i class="fa fa-check"></i> 已关注#}
{#                                {% else %}#}
{#                                    <i class="fa fa-plus"></i> 关注#}
{#                                {% endif %}#}
{#                            </a>#}
{#                           {% endifnotequal %}#}
{#                        </div>#}
{#                        <span class="d-block">{{ user.signature }}</span>#}
{#                      </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{##}
{#                <div class="media text-muted pt-3">#}
{#                  <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">#}
{#                  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">#}
{#                    <div class="d-flex justify-content-between align-items-center w-100">#}
{#                      <strong class="text-gray-dark">Full Name</strong>#}
{#                      <a href="#">Follow</a>#}
{#                    </div>#}
{#                    <span class="d-block">@username</span>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="media text-muted pt-3">#}
{#                  <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">#}
{#                  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">#}
{#                    <div class="d-flex justify-content-between align-items-center w-100">#}
{#                      <strong class="text-gray-dark">Full Name</strong>#}
{#                      <a href="#">Follow</a>#}
{#                    </div>#}
{#                    <span class="d-block">@username</span>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="media text-muted pt-3">#}
{#                  <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">#}
{#                  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">#}
{#                    <div class="d-flex justify-content-between align-items-center w-100">#}
{#                      <strong class="text-gray-dark">Full Name</strong>#}
{#                      <a href="#">Follow</a>#}
{#                    </div>#}
{#                    <span class="d-block">@username</span>#}
{#                  </div>#}
{#                </div>#}
{#                <small class="d-block text-right mt-3">#}
{#                  <a href="#">全部书友</a>#}
{#                </small>#}
{#            </div>#}
{#        {% endifequal %}#}
{##}
{#        <!-- user follower data -->#}
{#        {% ifequal 'followers' data %}#}
{#            <div class="my-3 p-3 bg-white rounded box-shadow">#}
{#                <h6 class="border-bottom border-gray pb-2 mb-0">{{ info }}的粉丝</h6>#}
{#                {% for user in followers %}#}
{#                    {% check_is_following_user request user as is_following%}#}
{#                    <div class="media text-muted pt-3">#}
{#                      <a href="{{ user.get_absolute_url }}">#}
{#                          <img src="{{ user.avatar.url }}" alt="" class="mr-2 rounded" style="width: 32px; height: 32px;">#}
{#                      </a>#}
{##}
{#                      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">#}
{#                        <div class="d-flex justify-content-between align-items-center w-100">#}
{#                          <strong class="text-gray-dark">{{ user }}</strong>#}
{#                          {% ifnotequal user request.user %}#}
{#                               <a class="{% if is_following %}text-success{% endif %}" id="follow-user-{{ user.id }}" href="javascript:void(0)"#}
{#                                data-login="{% if not request.user.is_authenticated %}un{% endif %}login"#}
{#                                data-action="{% if is_following %}un{% endif %}follow"#}
{#                                onclick="FollowUser({{ user.id }})">#}
{#                                {% if is_following %}#}
{#                                    <i class="fa fa-check"></i> 已关注#}
{#                                {% else %}#}
{#                                    <i class="fa fa-plus"></i> 关注#}
{#                                {% endif %}#}
{#                            </a>#}
{#                           {% endifnotequal %}#}
{#                        </div>#}
{#                        <span class="d-block">{{ user.signature }}</span>#}
{#                      </div>#}
{#                    </div>#}
{#                {% endfor %}#}
{##}
{#                <div class="media text-muted pt-3">#}
{#                  <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">#}
{#                  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">#}
{#                    <div class="d-flex justify-content-between align-items-center w-100">#}
{#                      <strong class="text-gray-dark">Full Name</strong>#}
{#                      <a href="#">Follow</a>#}
{#                    </div>#}
{#                    <span class="d-block">@username</span>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="media text-muted pt-3">#}
{#                  <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">#}
{#                  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">#}
{#                    <div class="d-flex justify-content-between align-items-center w-100">#}
{#                      <strong class="text-gray-dark">Full Name</strong>#}
{#                      <a href="#">Follow</a>#}
{#                    </div>#}
{#                    <span class="d-block">@username</span>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="media text-muted pt-3">#}
{#                  <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">#}
{#                  <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">#}
{#                    <div class="d-flex justify-content-between align-items-center w-100">#}
{#                      <strong class="text-gray-dark">Full Name</strong>#}
{#                      <a href="#">Follow</a>#}
{#                    </div>#}
{#                    <span class="d-block">@username</span>#}
{#                  </div>#}
{#                </div>#}
{#                <small class="d-block text-right mt-3">#}
{#                  <a href="#">全部书友</a>#}
{#                </small>#}
{#            </div>#}
{#        {% endifequal %}#}
    </div>
{% endblock %}